<p-dialog [(visible)]="showDeleteConfirmation" header="Confirm" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>{{message}}</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="showDeleteConfirmation = false"></button>
    <ng-container *ngTemplateOutlet="confirmButton"></ng-container>
  </ng-template>
</p-dialog>
