<div class="card">
  <div class="mb-4 flex align-items-center justify-content-start gap-2">
    <button pRipple pButton type="button" label="New" icon="pi pi-plus" (click)="addSubject()"></button>
    <button pRipple pButton type="button" label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteAllSubjects(table.selectedItems)"></button>
  </div>
  <app-table
    [columns]="columns"
    [data]="data"
    [totalRecords]="totalRecords"
    [pageSize]="pageSize"
    [currentPageReportTemplate]="currentPageReportTemplate"
    [rowsPerPageOptions]="rowsPerPageOptions"
    (onLazyLoad)="onLazyLoad($event)"
    (onGlobalFilter)="onGlobalFilter($event)"
    #table
  >
    <ng-template #actions let-item>
      <button pRipple pButton type="button" icon="pi pi-pencil" class="mr-2 p-button-rounded p-button-outlined" (click)="editSubject(item)"></button>
      <button pRipple pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-danger"
              (click)="deleteSubject(item)"></button>
    </ng-template>
  </app-table>

  <app-form-side-bar [title]="formTitle" [sidebarVisible]="sidebarVisible">
    <div ngProjectAs="content">
      <app-form #form [fields]="formFields" [formData]="selectedSubject"></app-form>
    </div>
    <footer class="flex justify-content-end p-3 gap-2">
      <button pRipple pButton type="button" label="Cancel" class="p-button-outlined" icon="pi pi-times" (click)="onCancel()"></button>
      <button pRipple pButton type="button" label="Save" icon="pi pi-check" (click)="saveSubject(form.form)"></button>
    </footer>
  </app-form-side-bar>
</div>

