<div class="col-12">
  <div class="card">
    <h5>Complete profile</h5>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="firstname">Firstname</label>
          <input
            pInputText
            id="firstname"
            type="text"
            formControlName="firstName"
            [ngClass]="{'ng-dirty ng-invalid': isFieldInvalid('firstName')}"
          />
          @if (isFieldInvalid('firstName')) {
            <div class="mb-2 ng-invalid p-error">
              First name is required
            </div>
          }
        </div>
        <div class="field col-12 md:col-6">
          <label for="lastname">Lastname</label>
          <input
            pInputText
            id="lastname"
            type="text"
            formControlName="lastName"
            [ngClass]="{'ng-dirty ng-invalid': isFieldInvalid('lastName')}"
          />
          @if (isFieldInvalid('lastName')) {
            <div class="mb-2 ng-invalid p-error">
              Last name is required
            </div>
          }
        </div>
        <div class="field col-12">
          <label for="email">Email</label>
          <input
            pInputText
            id="email"
            type="text"
            formControlName="email"
            readonly
          />
        </div>

        @if (selectedRole === RoleName.TEACHER) {
          <div class="field col-12">
            <label for="subject">Subject</label>
            <p-multiSelect
              id="subject"
              formControlName="subject"
              placeholder="Choose a subject"
              [options]="subjects"
              optionLabel="label"
              dataKey="id"

            ></p-multiSelect>
            @if (isFieldInvalid('subject')) {
              <div class="mb-2 ng-invalid p-error">
                Subject is required
              </div>
            }
          </div>
        }

        @if (selectedRole === RoleName.STUDENT) {
          <div class="field col-12 md:col-6">
            <label for="schoolYear">School Year</label>
            <p-dropdown
              id="schoolYear"
              formControlName="schoolYear"
              [options]="schoolYears"
              optionLabel="name"
              optionValue="value"
            ></p-dropdown>
            @if (isFieldInvalid('schoolYear')) {
              <div class="mb-2 ng-invalid p-error">
                School Year is required
              </div>
            }
          </div>
          <div class="field col-12 md:col-6">
            <label for="schoolType">School Type</label>
            <p-dropdown
              id="schoolType"
              formControlName="schoolType"
              [options]="schoolTypes"
              optionLabel="name"
              optionValue="value"
            ></p-dropdown>
            @if (isFieldInvalid('schoolType')) {
              <div class="mb-2 ng-invalid p-error">
                School Type is required
              </div>
            }
          </div>
        }

      </div>
      <button pButton type="submit" label="Submit" icon="pi pi-check"></button>
    </form>
  </div>
</div>
@if(selectedRole=="TEACHER"){
  <div class="col-12">
    <div class="card">
      <h5>Upload your resume</h5>
      <div class="file-upload-container">
        <p-fileUpload name="file" accept=".doc,.docx,.pdf,.txt,.rtf,.odt,.xls,.xlsx,.ppt,.pptx,.csv,.xml,.html,.htm" maxFileSize="1000000"
                      customUpload="true" (uploadHandler)="onFileSelected($event)"></p-fileUpload>
      </div>

        <h4>Resume details</h4>
        <!-- PDF Viewer -->
        <pdf-viewer  src="{{userFileCv}}"    [render-text]="true"
                     style="display: block; width: 100%; height: 500px;">>
        </pdf-viewer>
      </div>
  </div>
}
