<div class="col-12">
  <div class="card">
    <h5>Complete profile</h5>

    <div class="border-1 surface-border flex justify-content-between align-items-center py-2 px-3 border-round">
      <span class="text-900 font-bold p-3">Become a teacher</span>
      <p-inputSwitch
        (onChange)="handleChange($event)"
        [(ngModel)]="checked"
        [disabled]="switch"
        id="teat"
      ></p-inputSwitch>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label htmlFor="firstname">Firstname</label>
          <input
            [ngClass]="{'ng-dirty ng-invalid': isFieldInvalid('firstName')}"
            formControlName="firstName"
            id="firstname"
            pInputText
            type="text"
          />
          @if (isFieldInvalid("firstName")) {
            <div class="mb-2 ng-invalid p-error">first name is required</div>
          }
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="lastname">Lastname</label>
          <input
            [ngClass]="{'ng-dirty ng-invalid': isFieldInvalid('lastName')}"
            formControlName="lastName"
            id="lastname"
            pInputText
            type="text"
          />
          @if (isFieldInvalid("firstName")) {
            <div class="mb-2 ng-invalid p-error">Last name is required</div>
          }
        </div>
        <div class="field col-12">
          <label htmlFor="email">Email</label>
          <input
            [disabled]="true"
            formControlName="email"
            id="email"
            pInputText
            readonly
            type="text"
          />
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="schoolYear">School Year</label>
          <p-dropdown
            [options]="schoolYears"
            formControlName="schoolYear"
            optionLabel="name"
          ></p-dropdown>
          @if (isFieldInvalid("schoolYear")) {
            <div class="mb-2 ng-invalid p-error">School Year is required</div>
          }
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="schoolType">School Type</label>
          <p-dropdown
            [options]="schoolTypes"
            formControlName="schoolType"
            optionLabel="name"
          ></p-dropdown>
          @if (isFieldInvalid("schoolType")) {
            <div class="mb-2 ng-invalid p-error">School Type is required</div>
          }
        </div>
      </div>
      <button
        icon="pi pi-check"
        label="Submit"
        pButton
        type="submit"
      ></button>
    </form>
  </div>
</div>
