<div class="card">
  <app-table
    #table
    (onGlobalFilter)="onGlobalFilter($event)"
    (onLazyLoad)="onLazyLoad($event)"
    [columns]="columns"
    [currentPageReportTemplate]="currentPageReportTemplate"
    [data]="data"
    [pageSize]="pageSize"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [totalRecords]="totalRecords"
  >
    <ng-template #actions let-item>
      <p-inputSwitch [trueValue]="!item.confirmedByAdmin" [disabled]="item.confirmedByAdmin" (click)="confirmTeacher(item)" ></p-inputSwitch>
    </ng-template>
  </app-table>
</div>
