<app-background [dark]="dark"></app-background>
<div class="px-5 min-h-screen flex justify-content-center align-items-center">
  <div class="border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1">
    <div class="mb-4">
      <div class="text-900 text-xl font-bold mb-2">Register</div>
      <span class="text-600 font-medium">Let's get started</span>
    </div>

    <form (ngSubmit)="signupUser()" [formGroup]="form">
      <div class="flex flex-column mb-4">
        <span class="p-input-icon-left w-full mb-2">
          <i class="pi pi-envelope"></i>
          <input class="w-full md:w-25rem"
                 formControlName="email"
                 id="email"
                 pInputText
                 placeholder="Email"
                 type="text"/>
          </span>
        @if (fieldHasError('email')) {
          <div class="mb-2 ng-invalid p-error">{{ getFieldErrorMessage('email') }}</div>
        }
      </div>

      <div class="flex flex-column mb-4">
          <span class="p-input-icon-left w-full mb-2">
            <i class="pi pi-lock z-2"></i>
            <p-password [inputStyle]="{paddingLeft: '2.5rem'}"
                        [toggleMask]="true"
                        formControlName="password"
                        id="password"
                        inputStyleClass="w-full md:w-25rem"
                        placeholder="Password">
            </p-password>
          </span>
        @if (fieldHasError('password')) {
          <div class="mb-2 ng-invalid p-error">{{ getFieldErrorMessage('password') }}</div>
        }
      </div>

      <div class="flex flex-column mb-4">
          <span class="p-input-icon-left w-full mb-2">
            <i class="pi pi-lock z-2"></i>
            <p-password [inputStyle]="{paddingLeft: '2.5rem'}"
                        [toggleMask]="true"
                        formControlName="confirmPassword"
                        id="confirmPassword"
                        inputStyleClass="w-full md:w-25rem"
                        placeholder="Confirm Password">
            </p-password>
          </span>
        @if (fieldHasError('confirmPassword')) {
          <div class="mb-2 ng-invalid p-error">{{ getFieldErrorMessage('confirmPassword') }}</div>
        } @else if (form.getError("mismatch")) {
          <div class="mb-2 ng-invalid p-error">Passwords do not match</div>
        }
      </div>

      <div class="flex flex-column mb-4">
        <span class="p-input-icon-left w-full mb-2">
          <i class="pi pi-user"></i>
          <input class="w-full md:w-25rem"
                 formControlName="firstName"
                 id="firstName"
                 pInputText
                 placeholder="First Name"
                 type="text"/>
          </span>
        @if (fieldHasError('firstName')) {
          <div class="mb-2 ng-invalid p-error">{{ getFieldErrorMessage('firstName') }}</div>
        }
      </div>

      <div class="flex flex-column mb-4">
        <span class="p-input-icon-left w-full mb-2">
          <i class="pi pi-user"></i>
          <input class="w-full md:w-25rem"
                 formControlName="lastName"
                 id="lastName"
                 pInputText
                 placeholder="Last Name"
                 type="text"/>
          </span>
        @if (fieldHasError('lastName')) {
          <div class="mb-2 ng-invalid p-error">{{ getFieldErrorMessage('lastName') }}</div>
        }
      </div>

      <div class="mb-4 flex flex-wrap">
        <p-checkbox [binary]="true" formControlName="terms" id="confirm-check-box" name="checkbox" styleClass="mr-2" value="val"></p-checkbox>

        <label class="text-900 font-medium mr-2" for="confirm-check-box">I have read the</label>
        @if (fieldHasError('terms')) {
          <div class="mb-2 ng-invalid p-error">{{ getFieldErrorMessage('terms') }}</div>
        }
        <a class="text-600 cursor-pointer hover:text-primary cursor-pointer">Terms and Conditions</a>
      </div>
      <button class="w-full mb-4" label="Sign Up" pButton pRipple type="submit"></button>
    </form>

    <span class="font-medium text-600">Already have an account?
        <a class="font-semibold cursor-pointer text-900 hover:text-primary transition-colors transition-duration-300" routerLink="/auth/login">Login</a>
      </span>
  </div>
</div>
