<div class="card">
  <div class="mb-4 flex align-items-center justify-content-start gap-2">
    <button (click)="add()" icon="pi pi-plus" label="New" pButton pRipple type="button"></button>
    <button (click)="deleteAll(table.selectedItems)" [disabled]="!table.selectedItems.length" class="p-button-danger" icon="pi pi-trash" label="Delete" pButton
            pRipple
            type="button"
    ></button>
  </div>
  <app-table
    #table
    (onGlobalFilter)="onGlobalFilter($event)"
    (onLazyLoad)="onLazyLoad($event)"
    [columns]="columns"
    [currentPageReportTemplate]="currentPageReportTemplate"
    [data]="data"
    [pageSize]="pageSize"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [totalRecords]="totalRecords"
  >
    <ng-template #actions let-item>
      <button (click)="editSubject(item)" class="mr-2 p-button-rounded p-button-outlined" icon="pi pi-pencil" pButton pRipple type="button"></button>
      <button (click)="confirmDelete(item)" class="p-button-rounded p-button-outlined p-button-danger" icon="pi pi-trash" pButton pRipple
              type="button"></button>
    </ng-template>
  </app-table>

  <app-form-side-bar [(sidebarVisible)]="sidebarVisible" [title]="formTitle">
    <div ngProjectAs="content">
      <form [formGroup]="form">

        <div class="flex flex-column">
          <label class="mb-2" for="name">Name</label>
          <input class="w-full" formControlName="name" id="name" pInputText placeholder="Enter Name "/>
        </div>
        @if (fieldHasError('name')) {
          <div class="mb-2 ng-invalid p-error">name is required</div>
        }
        <div class="flex flex-column">
          <label class="mb-2" for="description">Description</label>
          <input class="w-full" formControlName="description" id="description" pInputText placeholder="Enter Description "/>
        </div>
        @if (fieldHasError('description')) {
          <div class="mb-2 ng-invalid p-error">description is required</div>
        }
        <label class="mb-2" for="schoolTypes">school type</label>
        <p-multiSelect [filter]="true" [ngClass]="{'ng-invalid ng-dirty': fieldHasError('schoolTypes')}" [options]="schoolTypes"
                       [showClear]="true"
                       display="chip"
                       formControlName="schoolTypes"
                       id="schoolTypes"
                       placeholder="choose a school type "
                       styleClass="w-full  mb-2"
        >
        </p-multiSelect>
        @if (fieldHasError('schoolTypes')) {
          <div class="mb-2 ng-invalid p-error">school type is required</div>
        }
        <label class="mb-2" for="schoolYears">school year</label>
        <p-multiSelect [filter]="true" [ngClass]="{'ng-invalid ng-dirty': fieldHasError('schoolYears')}" [options]="schoolYears"
                       [showClear]="true"
                       display="chip"
                       formControlName="schoolYears"
                       id="schoolYears"
                       placeholder="choose a school years"
                       styleClass="w-full  mb-2"
        >
        </p-multiSelect>
        @if (fieldHasError('schoolYear')) {
          <div class="mb-2 ng-invalid p-error">school year is required</div>
        }

      </form>

    </div>
    <footer class="flex justify-content-end p-3 gap-2">
      <button (click)="onCancel(form)" class="p-button-outlined" icon="pi pi-times" label="Cancel" pButton pRipple type="button"></button>
      <button (click)="save(form)" [disabled]="form.invalid" icon="pi pi-check" label="Save" pButton pRipple type="button"></button>
    </footer>
  </app-form-side-bar>
  <app-delete-confirmation [(showDeleteConfirmation)]="showDeleteConfirmation">
    <ng-template #confirmButton>
      <button (click)="delete()" class="p-button-danger" icon="pi pi-check" label="Yes" pButton pRipple></button>
    </ng-template>
  </app-delete-confirmation>
</div>

