<div class="layout-topbar">
  <div class="topbar-start">
    <button #menubutton (click)="onMenuButtonClick()" class="topbar-menubutton p-link p-trigger" type="button">
      <i class="pi pi-bars"></i>
    </button>

    <app-breadcrumb class="topbar-breadcrumb"></app-breadcrumb>
  </div>

  <div class="topbar-end">
    <ul class="topbar-menu">
      <li class="topbar-search">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input class="w-12rem sm:w-full" pInputText placeholder="Search" type="text">
                </span>
      </li>

      <li class="topbar-profile">
        <button (click)="onProfileButtonClick()" class="p-link" type="button">
          <img alt="Profile"/>
        </button>
      </li>
    </ul>
  </div>
</div>
