#string
DB_PASSWORD=root;DB_PORT=5432;DB_SCHEMA=booking;DB_URL=localhost;DB_USER=root;GOOGLE_APPLICATION_CREDENTIALS=C:\Users\tayeb\IdeaProjects\abwebapp\src\backend\appointment-booking\local-config\google\google.json
#env
DB_PASSWORD=root;
DB_PORT=5432;
DB_SCHEMA=booking;
DB_URL=localhost;
DB_USER=root;
GOOGLE_APPLICATION_CREDENTIALS=C:\Users\tayeb\IdeaProjects\abwebapp\src\backend\appointment-booking\local-config\google\google.json