# Environment Variables Documentation

## As a Single String

spring.application.name=appointment-booking;DB_URL=localhost;DB_PORT=5432;DB_SCHEMA=booking;DB_USER=root;DB_PASSWORD=root;JWT_SECRET=2b44b0b00fd822d8ce753e54dac3dc4e06c2725f7db930f3b9924468b53194dbccdbe23d7baa5ef5fbc414ca4b2e64700bad60c5a7c45eaba56880985582fba4;JWT_EXPIRATION=2592000000000;MAIL_HOST=smtp.example.com;MAIL_PORT=587;MAIL_USERNAME=your-email@example.com;MAIL_PASSWORD=your-email-password;MAIL_SMTP_AUTH=true;MAIL_SMTP_STARTTLS_ENABLE=true;MAIL_SMTP_SSL_ENABLE=false;GOOGLE_APPLICATION_CREDENTIALS=C:\Users\tayeb\IdeaProjects\abwebapp\src\backend\appointment-booking\local-config\google\google.json

## Individually Listed
- **DB_URL**: Hostname or IP address of the database server.
- **DB_PORT**: Port on which your PostgreSQL database is running.
- **DB_SCHEMA**: Schema name in the PostgreSQL database.
- **DB_USER**: Username for the database.
- **DB_PASSWORD**: Password for the database.
- **JWT_SECRET**: Secret key used to sign JWT tokens.
- **JWT_EXPIRATION**: Expiration time for JWT tokens.
- **GOOGLE_APPLICATION_CREDENTIALS**: Path to Google credentials JSON file for OAuth2 authentication.
- **MAIL_HOST**: SMTP server host.
- **MAIL_PORT**: SMTP server port.
- **MAIL_USERNAME**: SMTP server username.
- **MAIL_PASSWORD**: SMTP server password.
- **MAIL_SMTP_AUTH**: Enable SMTP authentication.
- **MAIL_SMTP_STARTTLS_ENABLE**: Enable STARTTLS for secure SMTP.
- **MAIL_SMTP_SSL_ENABLE**: Enable SSL for SMTP.

### How to Use

- **String Format**: Use this format when setting environment variables in a single line in environments like Docker or Kubernetes.
- **Individual Format**: Use this format to set variables in `.env` files or as separate environment variables in your local or deployment environment.

