
.visibility-hidden {
  visibility: hidden;
}

.moveinright {
  animation: moveinright .15s linear;
}

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(50px);
    transition: transform .12s cubic-bezier(0, 0, 0.2, 1), opacity .12s cubic-bezier(0, 0, 0.2, 1);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
$primaryColor: #1a276d !default;
.steps{
  background-color:#eff3f8;
}

::ng-deep .p-steps .p-steps-item .p-menuitem-link {
  background: #eff3f8;
}
::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-number {
  background-color: #eef2ff !important;
  color: $primaryColor !important;

}

::ng-deep .p-steps .p-steps-item .p-menuitem-link .p-steps-number {
  color: #4b5563;
  border: 1px solid #f3f4f6;
  background: #ffffff;
}

::ng-deep .p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus {
  outline: none;
  box-shadow: none;
}
